:root {
    --border: 2px solid #979797;
}

.button {
    text-align: center;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button:not(:nth-child(4n)) {
    border-right: var(--border);
}

.button:not(:nth-last-child(-n + 2)) {
    border-bottom: var(--border);
}


.is-unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button-digit {
    background: #D8D8D8;
}

.digit {
    font-size: 18px;
    line-height: 21px;
}

.zero {
    grid-column: 1/4;
    font-weight: bold;
}

.button-operation {
    background: #B15E5E;
}

.button-compute {
    border-right: 0 !important;
    font-weight: bold;
}

.operation {
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
